<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title></title>
    <link type="text/css" rel="stylesheet" href="views/admin/css/admin.css">
    <script type="text/javascript" src="include/jsmain.js"></script>
    <script type="text/javascript" src="include/admin.js"></script>
    <script type="text/javascript">
        function closec(tid){
            if ($.browser.msie) {
                if($("."+tid).css('display')=='inline'){
                    $("."+tid).css('display','none');
                    $("#"+tid).attr('class', 'classico1');
                }else{
                    $("."+tid).css('display','inline');
                    $("#"+tid).attr('class', 'classico2');
                }
            }else{
                if($("."+tid).css('display')=='table-row'){
                    $("."+tid).css('display','none');
                    $("#"+tid).attr('class', 'classico1');
                }else{
                    $("."+tid).css('display','table-row');
                    $("#"+tid).attr('class', 'classico2');
                }
            }
        }
    </script>
</head>

<body>




<div class="maintop">当前位置：栏目管理</div>
<div class="main"><div class="oper"><a href="?c=a_member">会员管理</a>
<a href="?c=a_member&a=add">添加会员</a></div>
    <table width="100%" class="tablist">
        <tbody><tr class="trbg">
            <td width="40">ID</td>
            <td>用户名</td>
            <td width="150">操作</td>
        </tr>

        {[ section name=sec1 loop=$lists ]}
        <tr>
            <td>{[$lists[sec1].id]}</td>
            <td class="tdleft"><a href="?c=a_member&amp;a=edit&amp;id={[$lists[sec1].id]}">{[$lists[sec1].username]}</a></td>
            <td><a href="?c=a_member&amp;a=edit&amp;id={[$lists[sec1].id]}">编辑</a>&nbsp;&nbsp;<a href="?c=a_member&amp;a=del&amp;id={[$lists[sec1].id]}">删除</a></td>
        </tr>
        {[/section]}
        </tbody></table>
</div>

</body></html>