<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title></title>
    <link type="text/css" rel="stylesheet" href="views/admin/css/admin.css">

</head>

<body>


<div class="maintop">当前位置：管理首页</div>
<div class="main">
    <table width="100%" class="tablist">
        <tbody>
			<tr class="trbg">
				<td style="padding-left:10px;" class="tdleft" colspan="2">欢迎登录 校园二手信息网站 后台管理。</td>
			</tr>
			<tr>
				<td width="80">当前登录：</td>
				<td class="tdleft">
					admin&nbsp;&nbsp;<a target="main" href="?c=a_adminuser&amp;a=edituser">[修改资料]</a>
					&nbsp;&nbsp;<a target="_parent" href="?c=login&amp;a=out">[退出登录]</a>
				</td>
			</tr>
		</tbody></table>
<br>

</div>




</body></html>