<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{[$GLOBALS.config.site.site_title]} </title>
    <meta name="keywords" content="{[$GLOBALS.config.site.site_keywords]} " />
    <meta name="description" content="{[$GLOBALS.config.site.site_description]}" />
    {[include file="jscss.html"]}
    <script>
        //检测密码
        function check()
        {
            oldpwd = $('input[name="oldpassword"]').val()
            newpwd = $('input[name="newpassword"]').val()
            newpwd2 = $('input[name="newpassword2"]').val()
            if(oldpwd == '')
            {
                alert('原始密码不能为空！')
                $('input[name="oldpassword"]').focus()
                return false;
            }
            if(newpwd == '')
            {
                alert('新密码不能为空！')
                $('input[name="newpassword"]').focus()
                return false;
            }
            if(newpwd2 == '')
            {
                alert('确认密码不能为空！')
                $('input[name="oldpassword2"]').focus()
                return false;
            }
            if(repwd != repwd2)
            {
                alert('新密码两次输入不一致！')
                $('input[name="newpassword"]').focus()
                return false;
            }
        }
    </script>
</head>

<body>
    <!--引入公共头部 S-->
    {[include file="head.html"]}
    <!--引入公共头部 E-->

    <!--网站幻灯 + 通知 S-->
    <div class="wrap mt10">

            <div class="box bgf">
                <div id="pagenav">
                    当前位置:&nbsp; <a href="ss">首页</a> &gt; <a href="ss">二手交通工具 &gt;二手自行车低价出售啦</a>
                </div>
            </div>

        <div class="fn-clear"></div>
    </div>
    <!--网站幻灯 + 通知 E-->


    <!-- 物品发布表单 S-->
    <div class="wrap mt10">
        <div class="main fn-right bgf">
            <div class="box">
                <div class="boxhead">
                    <h3>【密码修改】</h3>
                </div>
                <div class="form">

                        <div class="info">
                            <form method="post" action="?c=member&amp;a=password_eidt_save" onsubmit="return check();">
                                <div id="infos1" class="tabdiv">
                                    <dl><dt>原密码：</dt><dd><input type="password" style="width:200px;" value="" class="int" name="oldpassword" ></dd><dd class="t"></dd></dl>
                                    <dl><dt>新密码：</dt><dd><input type="password" style="width:200px;" value="" class="int" name="newpassword" default_value="密码不少于6位字符！"></dd><dd class="t">密码不少于6位字符！</dd></dl>
                                    <dl><dt>确认密码：</dt><dd><input type="password" style="width:200px;" value="" class="int" name="newpassword2" default_value="两次输入要符合一致！"></dd><dd class="t">两次输入要符合一致！</dd></dl>
                                </div>
                                <dl>
                                    <dt>&nbsp;</dt>
                                    <dd>
                                        <input type="submit" class="btnbig" value="提交修改" id="submit" name="submit">
                                    </dd>
                                </dl>

                            </form>
                        </div>
                    <div class="fn-clear"></div>
                </div>
            </div>
        </div>

        <!--发布者信息 S-->
        <div class="sidebar fn-left bgf">
            {[ include file='member/member_menu.html']}
        </div>
        <!--发布者信息 E-->
        <div class="fn-clear"></div>
    </div>
    <!-- 物品发布表单 E-->





    <div class="wrap mt10">

        <div class="box bgf">

            1.这是通栏的，放点广告吧,<br>
            2.提醒王刚在 main上部的标题+简介部分的区块左上角加 封口图标，或者标题第一行的中中上部加带缺口圆形图标，表明：卖完了<br>
            3.把【我要买和我要卖】做一个随页面滚动的边栏或者不动，这样就全局 发布入口了，如果登录类，也做侧边，随时进入后台和接受消息
        </div>

        <div class="fn-clear"></div>
    </div>


    <!--引入公共脚部 S-->
    {[include file="foot.html"]}
    <!--引入公共脚部 E-->
</body>
</html>