

<div class="wrap mt10 bgf none " id="login-reg-float">
    <span id="close-float"></span>
    <div class="box reg-login-form">

        <div class="form fn-left ">
            <div class="boxhead">
                推荐使用
            </div>
            <div class="oauth">
                <ul>
                    <li><a class="qq_oauth_login" href="javascript:;"></a></li>
                    <li><a class="sina_oauth_login" href="javascript:;"></a></li>
                </ul>
            </div>
            <div class="fn-clear"></div>
        </div>

        <div class="form fn-right form-right">

            <div class="boxhead">
                使用校园网帐号
            </div>
            <div class="login">
                <form id="loginform" method="post" action="?c=member&amp;a=login_save">


                    <dl>
                        <dt>用户名：</dt>
                        <dd><input type="text" value="" class="int" id="user" name="username"></dd>
                        <dd class="t">用户名不能为空</dd>
                    </dl>
                    <dl>
                        <dt>密&nbsp;&nbsp;&nbsp;码：</dt>
                        <dd><input type="password"  value="" class="int" id="password" name="password"></dd>
                        <dd class="t">密码不能为空</dd>
                    </dl>
                    <dl>
                        <dt>验证码：</dt>
                        <dd><input type="text"  value=""  default_value="验证码不能为空" class="int" id="vercode" name="vercode" style="width: 100px"></dd>
                        <dd><a class="vercode" ><img id='vercodeimg' width="120" height="30" src="index.php?c=api&a=getvercode" /></a></dd>
                        <dd class="t">验证码不能为空</dd>
                    </dl>
                    <dl>
                        <dt>&nbsp;</dt>
                        <dd><label for="rememberme" class="rememberme"><input type="checkbox" value="1" checked="checked" id="rememberme" name="rememberme">记住登录状态</label></dd>
                        <dd><input type="submit" id="submitbtn" class="button_small submitbtn" value="登 录"></dd>
                    </dl>
                </form>
            </div>
        </div>
        <div class="fn-clear"></div>
    </div>

    <div class="fn-clear"></div>
</div>




<div id="foot">
    <div class="wrap">
        <div class="menu">
            <a href="">网站首页</a>
            | <a href="danyemianyanshi/">服务须知</a>
            | <a href="wenzhangliebiaoyanshi/">广告合作</a>
            | <a href="kuozhanmoxingliebiaoyanshi/">关于我们</a>
            | <a href="kuozhanmoxingliebiaoyanshi/">联系我们</a>

        </div>
        <div id="copyright"> 版权所有：<a target="_blank" href="http://lyu-home.com">Lyu-Home</a> 地址：中国.临沂大学 信息学院 Mobile：+86-13013500185 &nbsp;
            QQ：1504336908
        </div>
    </div>
</div>