<link href="{[$GLOBALS.inc.css_path]}/global.css" type="text/css" rel="stylesheet">
<link href="{[$GLOBALS.inc.css_path]}/style.css" type="text/css" rel="stylesheet">

<script src="{[$GLOBALS.inc.js_path]}/jquery.js"></script>
<script src="{[$GLOBALS.inc.js_path]}/jquery.smallslider.js"></script>
<script src="{[$GLOBALS.inc.js_path]}/common.js"></script>


        <!-- 我整理得js： myjs.js-->
<script src="{[$GLOBALS.inc.js_path]}/myjs.js"></script>

<script src="{[$GLOBALS.inc.include_path]}/DatePicker/WdatePicker.js"></script>
<script src="{[$GLOBALS.inc.include_path]}/dyform.js"></script>

<!--这是一个弹出对话框的js库，他有自己的css-skin，界面不错，可以直接复用-->
<script src="{[$GLOBALS.inc.include_path]}/dialog/lhgdialog.min.js"></script>